.card_place {
  width: 100%;
  margin: 1rem 0;
  height: 17vh;

  img {
    width: 100%;
  }
}

.card_prefs {
  width: 100%;
  margin: 1rem 0;
  height: 13vh;

  img {
    width: 100%;
    bottom: 50vh;
  }
}

.card_travel {
  width: 42vw;
  margin: 0.5rem 0;
  height: 23vh;

  img {
    height: 100%;
  }

  >.content {
    >.header {
      overflow: hidden;
      margin-right: 40vw;
      >.name {
        
      }
    }
  }
}

.card_place, .card_travel, .card_prefs {
  overflow: hidden;
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 27px 57px -28px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 27px 57px -28px rgba(0,0,0,0.48);
  box-shadow: 0px 27px 57px -28px rgba(0,0,0,0.48);

  img {
    filter: brightness(0.7);
  }

  >.content {
    position: absolute;
    z-index: 90;
    color: white;
    padding: 1rem;

    >.header {
      display: flex;
      flex-direction: row;
      margin-top: 5vh;

      >.name {
        font-size: 3.2vh;
        font-weight: 400;
        line-height: 1.7rem;
        // margin-top: 5vh;
      }

      >.check_bg {
        // background-color: white;
        >.v-input {
          margin: 0;
        }
      }
    }
  }
}