@import 'style';

.justify {
  padding-left: 6vw;
  padding-right: 6vw;
}

.margintify {
  margin-left: 6vw !important;
  margin-right: 6vw !important;
}

.top {
  padding-top: 5vh;
}

.main_title {
  font-weight: 600;
  font-size: 3.5vh;
  color: rgb(71, 71, 71);
  margin-bottom: 2vh;
}

.main_content {
  // padding: 5vh 0;
  min-height: 100vh;

  .main_header {
    // position: absolute;
    background-color: white;
    width: 100vw;
    height: 12vh;
  }

  .section {
    margin: 5vh 0;

    .main_section {
      font-size: 3vh;
      margin: 0.5rem 0;
      color: $orange;
    }
  
    .main_desc {
      font-size: 2vh;
    }
  }
}

.subsection {
  >.header {
    display: flex;
    flex-direction: row;
    >.header_title {
      font-size: 2.5vh;
      flex-basis: 50%;
    }
    >.header_link {
      flex-basis: 50%;
      padding-top: 0.5vh;
      padding-left: 12vh;
      font-weight: 400;
      color: $orange;
    }
  }

  >.contents {
    
  }
}