.travel_page {
  background-color: rgb(237, 239, 241);
  min-height: 100vh;
  padding-bottom: 15vh;
  padding-top: 3vh;
}

.warn {
  text-align: center;
  p {
    margin: 0.7rem 0;
    &:last-child {
      font-weight: 600;
      color: #F99704;
    }
  }
  .warn_empty {
    color: grey;
    padding-top: 25vh;
  }
}